*{
    box-sizing: border-box;
}

.container{
	background-color: #52B3D9;
	max-width: 70%;
	margin: 0 auto;
}

.header{
	width:100%;
	height:100%;
	background-color: #336E7B;
	display:inline-flex;
	padding: 50px 10px;
}

.header .logo{
	float: left;
	width: 70%;
	margin: 0px 20px;
}

.header h1{
	display: inline-block;
	font-size:  6em;
	font-weight: bold;
	margin-left: 20px;
	vertical-align: middle;
	color:#fff;
	text-shadow: 4px 3px 0 #16a085,9px 8px 0 rgba(0,0,0,0.15);
}

.header .login{
	float: right;
	width:30%;
}

.header input{
	margin:10px;
	width:80%;
	display:block;
}

.header button{
	margin-left:10px;
}