{% extends "layout/base_layout.twig" %}

{% block title %}Tableau de bord{% endblock %}

{% block sectionTitle %} Tableau de bord {% endblock %}

{%  block sectionSubtitle %} administration {% endblock %}
{% block content %}
    <p>
        Paragraphe test.
    </p>
{% endblock %}