*{
    box-sizing: border-box;
}

.container{
	background-color: #40b7bf;
	max-width: 1000px;
	margin: 0 auto;
	padding-left:300px;
	padding-left: 300px;

}

.header{
	position: relative;
	left:0;
	height:100%;
	width:100%;
	background-color: #1690a0;
	display:inline-flex;
	padding: 40px 0px;
}

.header .logo{
	float: left;
	width: 70%;
	margin: 0px 20px;
	text-align: center;
}

.header h1{
	display: inline-block;
	font-size:  8em;
	font-weight: bold;
	margin-left: 20px;
	vertical-align: middle;
	color:#fff;
	text-shadow: 4px 3px 0 #1690a0,9px 8px 0 rgba(0,0,0,0.15);
}



.header .login{
	margin-top: 20px;
	float: right;
	width:30%;
}

.header input{
	margin:10px;
	width:80%;
	display:block;
}

.header button{
	margin-left:10px;
}